.alter-buttons {
    display: flex;
    align-items: center;
    justify-items: center;
    visibility: hidden;
    position: absolute;
    right: 16px;
    background-color: white;
    border-radius: 8px;

    :hover>& {
        visibility: visible;
    }

    button {
        border: none;
        background: transparent;

        :hover {
            cursor: pointer;
        }
    }
}